body {
	background-color: #f5f5f5;
}

.signin-page {
   height: 100vh;
}

.center-content {
	
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.primary-font {
	font-family: 'Roboto', sans-serif;
}

.secondary-font {
	font-family: 'Roboto', sans-serif;
}

.primary-color {
	color: #333 !important;
}

.secondary-color {
	color: #555 !important;
}

.styled-button {

	width: 100% !important;
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;

	border: 3px solid #333 !important;
	border-radius: 10px !important;
	
	background-color: #fff !important;
}
